<nav>
  <div class="logo" routerLink="/home">
    <span>IBSU</span>
  </div>
  <div class="options">
    <a routerLink="/registration" class="no-user">{{
      "navbar.registration" | translate
    }}</a>
    <a routerLink="/sign-in" class="no-user">{{
      "navbar.sign-in" | translate
    }}</a>
    <img
      routerLink="/profile"
      src="../assets/guestPic.png"
      class="user-in hide"
    />
    <button
      routerLink="/home"
      (click)="signOutFunction()"
      id="sign-out-btn"
      class="user-in hide"
    >
      {{ "navbar.sign-out" | translate }}
    </button>
    <div class="chose-language">
      <button class="eng active" (click)="switchLanguage('en', true)">
        {{ "navbar.en" | translate }}
      </button>
      <button class="geo" (click)="switchLanguage('ge', false)">
        {{ "navbar.ge" | translate }}
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
